<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/79028e5814.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        
        <div class="top-header">

            
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
                    
            
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas">
                <a href=""><i class="fas fa-search"></i></a>
            </div>
            <br>
    
            <div class="payments">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de credito</p>
            </div>


        </div>
        
            
        

        <nav>
            
            <div class="nav-bar">
                <ul type="none" class="nav-bar-list">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>

            
            <div class="login-bar">
                <ul type="none" class="login-bar-list">
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="/my-purchases">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>  
            
        </nav>

        
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>

    </header>
    
    
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="Banner" class="home-banner">
    </div>

    
    <main>
        
        <h3 class="sections-titles">Basado en tu última visita</h3>
        <section class="last-view">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$6.770</p>
                        <p class="discounts">40% OFF</p>
                    </div>
                    <p class="descriptions">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$230.000</p>
                        <p class="discounts">20% OFF</p>
                    </div>
                    <p class="descriptions">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$70.500</p>
                        <p class="discounts">10% OFF</p>
                    </div>
                    <p class="descriptions">Samgung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samgung 43"'>
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$23.200</p>
                        <p class="discounts">5% OFF</p>
                    </div>
                    <p class="descriptions">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>

        
        <h3 class="sections-titles">Ofertas</h3>
        <section class="offers">

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$6.770</p>
                        <p class="discounts">40% OFF</p>
                    </div>
                    <p class="descriptions">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$230.000</p>
                        <p class="discounts">20% OFF</p>
                    </div>
                    <p class="descriptions">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$70.500</p>
                        <p class="discounts">10% OFF</p>
                    </div>
                    <p class="descriptions">Samgung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samgung 43"'>
                <div class="product-info">
                    <i class="fa-solid fa-truck-fast"></i>
                    <div class="price-and-discount">
                        <p class="prices">$23.200</p>
                        <p class="discounts">5% OFF</p>
                    </div>
                    <p class="descriptions">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <div class="footer">

            <ul type="none" class="footer-list">
    
                <li class="pay-methods">
                    <i class="fa-solid fa-credit-card"></i>
                    <h4>Pagá con tarjeta o efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </li>
    
                <li class="shippings">
                    <i class="fa-solid fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.!</p>
                </li>
                
                <li class="security">
                    <i class="fa-solid fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </li>
                <br>
            </ul>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>